body {
  max-width: 850px;
  background-color: #fbfbfb;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 47px;
  width: 100%;
}
h2 {
  font-size: 35px;
  display: block;
  text-align: center;
  font-weight: bold;
  color: #505252;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 350px;
  color: #908c93;
}
button {
  color: #54575a;
  font-size: 17px;
  font-weight: 400;
  background-color: #ffffff;
  color: grey;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
  font-size: 19px;
  color: #908c93;
  display: block;
  text-align: left;
}
.container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 20px 50px -30px,
    rgba(5, 32, 79, 0.2) 0px -2px 6px 0px inset;
  max-width: 760px;
  margin: 40px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border: 1px solid #c8c5ca;
  padding: 20px 20px;
  border-radius: 10px;
}
.bg-image {
  background-image: url(../images/rain.jpg);
  background-color: #cccccc;
  height: 150px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}
.form {
  display: block;
  text-align: center;
}
.text {
  display: block;
}
.weather-temp img {
  margin-left: 220px;
}
.temperature {
  font-size: 44px;
  font-weight: bold;
  color: #505252;
  display: block;
  text-align: relative;
  margin-top: 10px;
}
.currentTime {
  color: #4e5e6d;
}
.highlightColor {
  color: #4e5e6d;
}
.units {
  font-size: 16px;
  color: #4e5e6d;
  position: relative;
  top: -40px;
  left: 60px;
}
.row {
  width: max-width;
}
.containertext-center {
  color: #4e5e6d;
  text-align: center;
  font-size: 22px;
}
.signature {
  margin-top: -15px;
  margin-left: 47px;
}
.weather-temp .img {
  width: 140px !important;
  height: 140px !important;
  margin-left: 100px;
}
.weather-temp .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temp .active:hover {
  text-decoration: none;
}
